.navbar {
	margin-top: 20px;
	margin-bottom: 20px;
}

#logo-text {
	display: inline-block;
	margin-left: 20px;
	color: #374151;
	font-size: 25px;
	font-weight: bold;
}

.navbar-nav a {
	color: #8D9593;
}

.nav-item {
	font-weight: bold;
	padding-right: 10px;
}


.last {
	margin-left: 50px;
	background: #00BB9E;
	padding: 3px 20px;
	border-radius: 5px;
}

.navbar-light .navbar-nav #lastnav {
	color: #fff;
}

.menu-link {
	margin-top: 3px;
}

#hero-section {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url('../resources/hero-image.jpg');
	background-size:cover;
	background-position:50% 20;
	min-height:550px;
}

#hero-section h1,h2 {
	color:#fff;
}

#hero-section h1 {
	font-size: 38px;
	margin-top: 245px;
	font-weight: bold;
}

#hero-section h2 {
	font-size: 32px;
	font-weight: normal;
	margin-top: 20px;
}

#explain-section h2 {
	font-size: 32px;
	font-weight: normal;
	color: #000;
	margin-top: 30%;
}

#explain-section p {
	font-size: 20px;
	color: #8B8F8E;
	margin-top: 5%;
	margin-bottom: 30%;
}

#explain-section {
	border-bottom: 2px solid #EDEDED;
}

#features p {
	color: #8B8F8E;
	font-size: 18px;
}

#features h3 {
	color: #000;
	font-size: 22px;
	margin-bottom: 20px;
}

#features {
	margin-top: 75px;
	margin-bottom: 150px;
}

#components {
	background: #2E414E;
	padding-top: 150px;
	padding-bottom: 0;
}

#product-image {
	padding-left: 0;
}

#icons {
	margin-top: 30px;
}

#icons h4 {
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	margin-top: 75px;
}

#icons p {
	color: #C3D7E5;
	margin-top: 20px;
	font-size: 20px;
	font-weight: normal;
}

#try-it-now {
	color: #4BA88E;
	background: none;
	border: 2px solid #4BA88E;
	border-radius: 5px;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px 25px;
}

#try-it-now:hover {
	color: #fff;
	background: #4BA88E;
}

footer {
	padding-top: 50px;
	padding-bottom: 75px;
}

#startup {
	font-weight:bold;
	font-size: 25px;
	margin-bottom: 15px;
}

footer .col-head {
	font-weight: bold;
	font-size: 18px;
	padding-top: 7px;
}

.col-head + div {
	margin-top: 15px;
}

.col-text a{
	color: #8B8F8E;
	font-size: 16px;
}

.col-4 {
	margin-bottom: 15px;
}

.btn-secondary {
	background: #BBC2C5;
}

footer input[type="email"] {
	border: 2px solid #BBC2C5;
	max-width: 175px;
}

footer .btn-secondary:hover {
	background: #BBC2C5;
}

*::-webkit-input-placeholder {
    color: #000;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #000;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #000;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #000;
}

.error {
	color: red;
}

.error-input {
	border:2px solid red;
}