.navbar {
	margin-top: 20px;
	margin-bottom: 20px;
}

#logo-text {
	display: inline-block;
	margin-left: 20px;
	color: #374151;
	font-size: 25px;
	font-weight: bold;
}

.navbar-nav a {
	color: #8D9593;
}

.nav-item {
	font-weight: bold;
	padding-right: 10px;
}

.last {
	margin-left: 50px;
	background: #00BB9E;
	padding: 3px 20px;
	border-radius: 5px;
}

.last a {
	color: #fff;
}

.menu-link {
	margin-top: 3px;
}

#hero-section {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ), url('../resources/hero-image.jpg');
	background-size:cover;
	background-position:50% 20;
	min-height:550px;
}

#hero-section h1,h2 {
	color:#fff;
}

#hero-section h1 {
	font-size: 38px;
	margin-top: 245px;
	font-weight: bold;
}

#hero-section h2 {
	font-size: 32px;
	font-weight: normal;
	margin-top: 20px;
}

#explain-section h2 {
	font-size: 32px;
	font-weight: normal;
	color: #000;
	margin-top: 30%;
}

#explain-section p {
	font-size: 20px;
	color: #8B8F8E;
	margin-top: 5%;
	margin-bottom: 30%;
}

#explain-section {
	border-bottom: 2px solid #B2B7B6;
}

#features p {
	color: #8B8F8E;
	font-size: 18px;
}

#features h3 {
	color: #000;
	font-size: 22px;
	margin-bottom: 20px;
}

#features {
	margin-top: 75px;
	margin-bottom: 150px;
}

