html {
	position:relative;
	min-height:100%;
}

body {
	@include font-smoothing;
	min-height:100vh;
	max-width:100%;
	font-size:14px;
	font-family:$font-regular;
}

a {
	cursor:pointer;
	transition:all 0.15s ease;
	text-decoration:none;
	&:hover,&:focus,&:active {
		text-decoration:none;
	}
}
