footer {
	height: $footer-height;
	background-color: white;
	margin-left: $content-margin;
	.footer-container{
		margin-top: 50px;
		width: 100%
	}
	.footer-box{
		width:18%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 100px;
	}
	.footer-logo-text{
		font-size: 25px;
		font-weight: $weight-semibold;
		color: $blue;
		margin-top: -5px;
	}
	.footer-header{
		font-size: 18px;
		color: $blue;
		font-weight: $weight-semibold;
	}
	ul{
		padding: 0px;
		margin-top: 10px;
	}
	.footer-content{
		color: $content;
		line-height: 25px;
		list-style: none;
		margin:0px;
	}
	.input-group-addon{
		background-color: $footer-input;
		color: white;
		font-weight: $weight-semibold;
		border: none;
		margin-top: 10px;
	}
	.footer-input{
		color: $blue;
		font-weight: $weight-semibold;
		font-size: 13px;
		border: 2px solid $footer-input;
		margin-top: 10px;
	}
}