body{
	background: white;
}

.page {
	margin:0 auto;
	@media (max-width:$screen-sm-min) {
		margin:0;
	}
	@media (min-width:$screen-sm) {
		display:flex;
		width:100%;
		height:100%;
		flex:1;
		.content {
			order:4;
			width:100%;
			overflow:auto;
			flex:1;
		}
	}
	.content {
		max-width: 100%;
    	margin-bottom: 15px;
    	.container1{
    		width: 100%;
    		margin-top:200px;
    		border-bottom: 2px solid $divider;
    		.cont2-content{
    			margin-left: $content-margin;
		    	width: 450px;
		    	.header1{
		    		color: $headers;
		    		font-size: 30px;
		    	}
		    	.header2{
		    		color: $content;
		    		font-size: 16px;
		    		font-weight: 500;
		    		margin: 40px 0px 100px 0px;
		    	}
		    }
	    }
	    .container2{
	    	margin-top:75px;
	    	width: 100%;
	    	.box{
	    		margin-left: $content-margin;
	    		width:200px;
	    		display: inline-block;
	    		vertical-align: top;
	    		margin-bottom: 100px;
	    		.box-header{
	    			color: $headers;
		    		font-size: 20px;
		    		font-weight: $weight-semibold;
	    		}
	    		.box-content{
	    			color: $content;
	    			font-size: 16px;
	    			margin-top: 20px;
	    		}
	    	}
	    }
	    .container3{
	    	background-color: $blue;
	    	width: 100%;
	    	height: 650px;
	    	.left{
	    		float: left;
	    	}
	    	.right{
	    		float: left;
	    		width: 500px;
	    		margin-left: 95px;
	    	}
	    	.graph{
	    		margin-top: 145px;
	    	}
	    	.icons{
	    		margin:185px 0px 70px 95px;
	    		height: 20px;
	    		width: 155px;
	    	}
	    	.cont3-header{
	    		color: white;
	    		font-size: 28px;
	    		margin-bottom: 25px;
	    		display: block;
	    	}
	    	.cont3-content{
	    		color: $cont3-content;
	    		font-size: 20px;
	    		margin-bottom: 50px;
	    	}
	    	.try{
	    		background-color: transparent;
	    		border: 2px solid $green;
	    		color: $green;
	    		text-transform: uppercase;
	    		font-weight: $weight-bold;
	    		font-size: 14px;
	    		width: 125px;
	    		border-radius: 8px;
	    		height:40px;
	    		display: block;
	    	}
	    	.btn-primary{
	    		background-color: $green;
	    	}
	    }
	}
}