nav{
  height: $navbar-height;  
  background-color: white;
  .navbar-brand{
    margin-left: 125px;
  }
  .logo{
    @include vertical-align(absolute);
    padding: 0px;
    float: left;
  }
  .logo-text{
    font-size: 25px;
    font-weight: $weight-bold;
    color:$blue;
    margin-left: 60px;
  } 
  .navbar-nav{
    margin-left: 55%;
  }   
  a{
    color: $content;
    font-weight: $weight-bold;
  }
  .sign-in{
    text-transform: uppercase;
    @include vertical-align(absolute);
    margin-left: 45px;
    display: block;
    background-color: $green;
    color: white;
    font-weight: $weight-semibold
  }
}
