html {
  position: relative;
  min-height: 100%; }

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  min-height: 100vh;
  max-width: 100%;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

a {
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  text-decoration: none; }

a:hover, a:focus, a:active {
  text-decoration: none; }

h1 {
  font-size: 25px;
  font-weight: 600; }

h2 {
  font-size: 23px;
  font-weight: 600; }

h3 {
  font-size: 20px;
  font-weight: 600; }

h4 {
  font-size: 18px;
  font-weight: 600; }

h5 {
  font-size: 16px;
  font-weight: 600; }

strong {
  font-weight: 600; }

label {
  font-weight: 600;
  color: #777; }

.underline {
  text-decoration: underline; }

.italic {
  font-style: italic; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 100%; }

.header .boat {
  position: relative;
  width: 100%; }

.header .boat-header {
  position: absolute;
  left: 130px;
  margin: 0 auto;
  width: 745px;
  height: 50px;
  color: white; }

.header .header1 {
  font-weight: 600;
  font-size: 34px;
  display: block; }

.header .header2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 100px; }

footer {
  height: 270px;
  background-color: white;
  margin-left: 130px; }

footer .footer-container {
  margin-top: 50px;
  width: 100%; }

footer .footer-box {
  width: 18%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 100px; }

footer .footer-logo-text {
  font-size: 25px;
  font-weight: 600;
  color: #2c3e50;
  margin-top: -5px; }

footer .footer-header {
  font-size: 18px;
  color: #2c3e50;
  font-weight: 600; }

footer ul {
  padding: 0px;
  margin-top: 10px; }

footer .footer-content {
  color: #7f8c8d;
  line-height: 25px;
  list-style: none;
  margin: 0px; }

footer .input-group-addon {
  background-color: #bdc3c7;
  color: white;
  font-weight: 600;
  border: none;
  margin-top: 10px; }

footer .footer-input {
  color: #2c3e50;
  font-weight: 600;
  font-size: 13px;
  border: 2px solid #bdc3c7;
  margin-top: 10px; }

body {
  background: white; }

.page {
  margin: 0 auto; }

@media (max-width: 767px) {
  .page {
    margin: 0; } }

@media (min-width: 768px) {
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .page .content {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    width: 100%;
    overflow: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; } }

.page .content {
  max-width: 100%;
  margin-bottom: 15px; }

.page .content .container1 {
  width: 100%;
  margin-top: 200px;
  border-bottom: 2px solid #ecf0f1; }

.page .content .container1 .cont2-content {
  margin-left: 130px;
  width: 450px; }

.page .content .container1 .cont2-content .header1 {
  color: #34495e;
  font-size: 30px; }

.page .content .container1 .cont2-content .header2 {
  color: #7f8c8d;
  font-size: 16px;
  font-weight: 500;
  margin: 40px 0px 100px 0px; }

.page .content .container2 {
  margin-top: 75px;
  width: 100%; }

.page .content .container2 .box {
  margin-left: 130px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 100px; }

.page .content .container2 .box .box-header {
  color: #34495e;
  font-size: 20px;
  font-weight: 600; }

.page .content .container2 .box .box-content {
  color: #7f8c8d;
  font-size: 16px;
  margin-top: 20px; }

.page .content .container3 {
  background-color: #2c3e50;
  width: 100%;
  height: 650px; }

.page .content .container3 .left {
  float: left; }

.page .content .container3 .right {
  float: left;
  width: 500px;
  margin-left: 95px; }

.page .content .container3 .graph {
  margin-top: 145px; }

.page .content .container3 .icons {
  margin: 185px 0px 70px 95px;
  height: 20px;
  width: 155px; }

.page .content .container3 .cont3-header {
  color: white;
  font-size: 28px;
  margin-bottom: 25px;
  display: block; }

.page .content .container3 .cont3-content {
  color: #a1a9ae;
  font-size: 20px;
  margin-bottom: 50px; }

.page .content .container3 .try {
  background-color: transparent;
  border: 2px solid #2ec56f;
  color: #2ec56f;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  width: 125px;
  border-radius: 8px;
  height: 40px;
  display: block; }

.page .content .container3 .btn-primary {
  background-color: #2ec56f; }

nav {
  height: 100px;
  background-color: white; }

nav .navbar-brand {
  margin-left: 125px; }

nav .logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0px;
  float: left; }

nav .logo-text {
  font-size: 25px;
  font-weight: 700;
  color: #2c3e50;
  margin-left: 60px; }

nav .navbar-nav {
  margin-left: 55%; }

nav a {
  color: #7f8c8d;
  font-weight: 700; }

nav .sign-in {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 45px;
  display: block;
  background-color: #2ec56f;
  color: white;
  font-weight: 600; }
